<% if action == :signup %>
  <% action_url = users_url %>
<% else %>
  <% action_url = session_url %>
<% end %>


<form class="" action="<%= action_url%> " method="post">
  <%= authenticity_token %>
  <label for="email">Email</label>
  <input id="email" type="text" name="user[email]" value="<%= user.email %>">
  <br>
  <label for="pwd">Password</label>
  <input id="pwd" type="password" name="user[password]" value="">
  <br>
  <input type="submit" name="" value="Submit">
</form>
